<% provide :title, t("tables") %>
<% provide :small_banner, t("show_table_bannerr") %>
<% provide :big_banner, t("table_list") %>

<div class="container-fluid public-table-show">
  <div class="row">
    <div class="pull-right">
    </div>
  <div class="pull-left">
    <button type="button" class="btn btn-primary"><%= t "total" %> <span class="badge"><%= @tables.size %></span></button>
  </div>
</div>

<div class="row">
  <%= render @tables %>
</div>
<div class="row paginate_row" >
  <%= paginate @tables %>
</div>
