@import 'color_main';

.input-require{
  margin-left: 5px;
  &:after{
    content: "*";
    color: $red;
  }
}

// custom form error
#error_explanation{
  color: $red;
}

// admin flash message
.admin-flash-message{
  width: 400px;
  text-align: center;
  margin: 0 auto;
}

// paginate
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: $white;
  border: 1px solid $solid-white-2;
  border-left-width: 0;
}

.paginate_row{
  text-align: center;
  margin: 0 2%;
}

.pagination {
  margin: 8px auto;
  border-left: 1px solid $solid-white-3;
  color: $black;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

// table index
table {
  counter-reset: rowNumber;
  width: 100%;
}

table .trow {
  counter-increment: rowNumber;
}

table .trow td:first-child::before {
  content: counter(rowNumber);
  min-width: 1em;
  margin-right: 0.5em;
}

// category index
.category-name{
  display: inline-block;
}

.category-img{
  width: 50px;
  height: 50px;
  display: inline-block;
}

.top-index-new{
  margin-bottom: 10px;
}

.div-top-search{
  width: 200px;
}

// category new
.preview-img{
  width: 250px;
  height: 250px;
  &:hover{
    border: 2px solid $palegreen;
    width: 220px;
    height: 220px;
  }
}

.form-category-new{
  width: 80%;
  margin: 0 auto;
}

// product index
.product-img{
  width: 60px;
  height: 60px;
  display: inline-block;
}

// product new
.form-product-new{
  width: 90%;
  margin: 0 auto;
}

// product show
.product-show-wrap-img{
  padding: 5px;
  padding-top: 10px;
  img{
    max-width: 500px;
    height: 280px;
    &:hover{
      height: 320px;
      border: 2px solid $aqua;
      max-width: 500px;
    }
  }
}

// table index
.table-col-table-num{
  width: 2em !important;
}

.control-action-form{
  display: inline;
}

// table new
.form-table-new{
  width: 70%;
  margin: 0 auto;
}

// order index
.order-person-img{
  width: 50px;
  height: 50px;
  border: 2px solid $yellow;
}

.order-person-empty{
  color: $red;
}

.order-status-pending{
  background-color: $white;
}

.order-status-accepted{
 background-color: $success-color;
}

.order-status-cancel{
  background-color: $red;
}

.order-status-paid{
  color: $white;
  background-color: $dark-white;
}

// order edit
.form-order-edit{
  width: 90%;
  margin: 0 auto;
}

.order-edit-staff-card, .order-edit-customer-card{
  width: 10em;
  height: 200px;
  img{
    width: 60px;
    height: 60px;
    border: 2px solid $yellow;
    &:hover{
      width: 80px;
      height: 80px;
      border: 2px solid $success-color;
    }
  }
  .card-footer{
    a{
      color: $yellow-middle;
      &:hover{
        color: $success-color;
      }
    }
  }
}

.order-edit-staff-card{
  float: right;
}
.order-edit-customer-card{
  float: left;
}

.order-edit-only-show{
  width: 60%;
  margin: 0 auto;
}

.form-order-table-pick{
  width: 90%;
  margin: 0 auto;
  text-align: center;
  .select2-container{
    min-width: 1000px;
    width: auto !important;
  }
  li{
    color: $black !important;
  }
}

// order new
.form-order-new{
  width: 70%;
  margin: 0 auto;
}

// order detail
.paid-img{
  width: 200px;
}

//user
.user_img{
  width: 50px;
}

.users_num{
  width: 3%;
}

.users_name{
  width: 25%;
}

.users_email{
  width: 15%;
}

.users_join{
  width: 20%;
}

.users_role{
  width: 10%;
}

.users_status{
  width: 10%;
}

.users_btn{
  width: 17%;
}

.user_img, .user_name{
  display: inline-block;
}

.table-user{
  text-align: center;
}

.select_role{
  text-align: center;
}

.role_admin{
  background-color: $coral;
  color: $black;
}

.role_staff{
  background-color: $green-yellow;
  color: $black;
}

.role_guest{
  background-color: $palegreen;
  color: $black;
}

.status_enable{
  background-color: $palegreen;
  color: $black;
}

.status_disable{
  background-color: $gray-light;
  color: $black;
}

.user_name_content, .user_email_content, .user_join_content, .user_role_content, .user_status_content, .user_btn_content, .user_incre_content{
  vertical-align: middle !important;
  margin-top: 1em;
}

.form-user-new{
  width: 90%;
  margin: 0 auto;
}

.count_product_by_category, .users-list{
  height: 288px;
  overflow: scroll;
  overflow-y: auto;
  overflow-x: auto
}

.img_user_dash{
  width: 50px;
}

.show_user_icon{
  border-radius: 50%;
  width: 15%;
}

.image_divider{
  border-color: $darkred;
  width: 50%;
}

.row_profile{
  display: block;
  text-align: center;
}

.show_user_table{
  float: left;
  position: relative;
  left: 50%;
  overflow: visible;
  width: fit-content;

  tbody{
    float: left;
    position: relative;
    left: -50%;
  }
}

.show_user_table th, .show_user_table td{
  border-top: 0px;
}

.table_divider{
  border-color: darkred;
  width: 170%;
  margin-left: -35%;
}

.td_btn_show_profile{
  text-align: center;
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
border: 1px solid $aquamarine;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
background: $aquamarine;
border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
background: $info-color;
}

.order_num{
  width: 2%;
}

.order_staff{
  width: 10%;
}

.order_cus{
  width: 10%;
}

.order_stat{
  width: 6%;
}

.order_name{
  width: 12%;
}

.order_phone{
  width: 10%;
}

.order_addr{
  width: 10%;
}

.order_person{
  width: 10%;
}

.order_total{
  width: 7%;
}

.order_control{
  width: 25%;
}

.tbl-order, .tbl-cate, .tbl-product, .tbl-cate{
  th, td{
    text-align: center;
  }
}

.noti_dash{
  cursor: pointer;
}

.select_table{
  .select2-container{
    width: 100% !important;
    min-width: 0px !important;
  }
}

.cate_details{
  div{
    text-align: left;
    margin-left: 30%;
  }
}

.datepicker {
  .active {
    background-color: greenyellow;
  }
  td {
    &:hover {
      background-color: cadetblue;
    }
  }
}

.report-btn {
  background-color: #b4d1bd;
  &:hover {
    background-color: #8a7771;
  }
}

.report-btn-select {
  background-color: #8a7771;
}

.nav-item {
  border-bottom: 1px solid #4f5962;
}

.table-user{
  .badge {
    font-size: 15px;
  }
}

.datetimepicker {
	padding: 4px;
	margin-top: 1px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	direction: ltr;
}

.datetimepicker-inline {
	width: 220px;
}

.datetimepicker.datetimepicker-rtl {
	direction: rtl;
}

.datetimepicker.datetimepicker-rtl table tr td span {
	float: right;
}

.datetimepicker-dropdown, .datetimepicker-dropdown-left {
	top: 0;
	left: 0;
}

[class*=" datetimepicker-dropdown"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #cccccc;
	border-bottom-color: rgba(0, 0, 0, 0.2);
	position: absolute;
}

[class*=" datetimepicker-dropdown"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-bottom: 6px solid #ffffff;
	position: absolute;
}

[class*=" datetimepicker-dropdown-top"]:before {
	content: '';
	display: inline-block;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #cccccc;
	border-top-color: rgba(0, 0, 0, 0.2);
	border-bottom: 0;
}

[class*=" datetimepicker-dropdown-top"]:after {
	content: '';
	display: inline-block;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid #ffffff;
	border-bottom: 0;
}

.datetimepicker-dropdown-bottom-left:before {
	top: -7px;
	right: 6px;
}

.datetimepicker-dropdown-bottom-left:after {
	top: -6px;
	right: 7px;
}

.datetimepicker-dropdown-bottom-right:before {
	top: -7px;
	left: 6px;
}

.datetimepicker-dropdown-bottom-right:after {
	top: -6px;
	left: 7px;
}

.datetimepicker-dropdown-top-left:before {
	bottom: -7px;
	right: 6px;
}

.datetimepicker-dropdown-top-left:after {
	bottom: -6px;
	right: 7px;
}

.datetimepicker-dropdown-top-right:before {
	bottom: -7px;
	left: 6px;
}

.datetimepicker-dropdown-top-right:after {
	bottom: -6px;
	left: 7px;
}

.datetimepicker > div {
	display: none;
}

.datetimepicker.minutes div.datetimepicker-minutes {
	display: block;
}

.datetimepicker.hours div.datetimepicker-hours {
	display: block;
}

.datetimepicker.days div.datetimepicker-days {
	display: block;
}

.datetimepicker.months div.datetimepicker-months {
	display: block;
}

.datetimepicker.years div.datetimepicker-years {
	display: block;
}

.datetimepicker table {
	margin: 0;
}

.datetimepicker  td,
.datetimepicker th {
	text-align: center;
	width: 20px;
	height: 20px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: none;
}

.table-striped .datetimepicker table tr td,
.table-striped .datetimepicker table tr th {
	background-color: transparent;
}

.datetimepicker table tr td.minute:hover {
	background: #eeeeee;
	cursor: pointer;
}

.datetimepicker table tr td.hour:hover {
	background: #eeeeee;
	cursor: pointer;
}

.datetimepicker table tr td.day:hover {
	background: #eeeeee;
	cursor: pointer;
}

.datetimepicker table tr td.old,
.datetimepicker table tr td.new {
	color: #999999;
}

.datetimepicker table tr td.disabled,
.datetimepicker table tr td.disabled:hover {
	background: none;
	color: #999999;
	cursor: default;
}

.datetimepicker table tr td.today,
.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today.disabled:hover {
	background-color: #fde19a;
	background-image: -moz-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -ms-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdd49a), to(#fdf59a));
	background-image: -webkit-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: -o-linear-gradient(top, #fdd49a, #fdf59a);
	background-image: linear-gradient(to bottom, #fdd49a, #fdf59a);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fdd49a', endColorstr='#fdf59a', GradientType=0);
	border-color: #fdf59a #fdf59a #fbed50;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

.datetimepicker table tr td.today:hover,
.datetimepicker table tr td.today:hover:hover,
.datetimepicker table tr td.today.disabled:hover,
.datetimepicker table tr td.today.disabled:hover:hover,
.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active,
.datetimepicker table tr td.today.disabled,
.datetimepicker table tr td.today:hover.disabled,
.datetimepicker table tr td.today.disabled.disabled,
.datetimepicker table tr td.today.disabled:hover.disabled,
.datetimepicker table tr td.today[disabled],
.datetimepicker table tr td.today:hover[disabled],
.datetimepicker table tr td.today.disabled[disabled],
.datetimepicker table tr td.today.disabled:hover[disabled] {
	background-color: #fdf59a;
}

.datetimepicker table tr td.today:active,
.datetimepicker table tr td.today:hover:active,
.datetimepicker table tr td.today.disabled:active,
.datetimepicker table tr td.today.disabled:hover:active,
.datetimepicker table tr td.today.active,
.datetimepicker table tr td.today:hover.active,
.datetimepicker table tr td.today.disabled.active,
.datetimepicker table tr td.today.disabled:hover.active {
	background-color: #fbf069;
}

.datetimepicker table tr td.active,
.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active.disabled:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker table tr td.active:hover,
.datetimepicker table tr td.active:hover:hover,
.datetimepicker table tr td.active.disabled:hover,
.datetimepicker table tr td.active.disabled:hover:hover,
.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active,
.datetimepicker table tr td.active.disabled,
.datetimepicker table tr td.active:hover.disabled,
.datetimepicker table tr td.active.disabled.disabled,
.datetimepicker table tr td.active.disabled:hover.disabled,
.datetimepicker table tr td.active[disabled],
.datetimepicker table tr td.active:hover[disabled],
.datetimepicker table tr td.active.disabled[disabled],
.datetimepicker table tr td.active.disabled:hover[disabled] {
	background-color: #0044cc;
}

.datetimepicker table tr td.active:active,
.datetimepicker table tr td.active:hover:active,
.datetimepicker table tr td.active.disabled:active,
.datetimepicker table tr td.active.disabled:hover:active,
.datetimepicker table tr td.active.active,
.datetimepicker table tr td.active:hover.active,
.datetimepicker table tr td.active.disabled.active,
.datetimepicker table tr td.active.disabled:hover.active {
	background-color: #003399;
}

.datetimepicker table tr td span {
	display: block;
	width: 23%;
	height: 54px;
	line-height: 54px;
	float: left;
	margin: 1%;
	cursor: pointer;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.datetimepicker .datetimepicker-hours span {
	height: 26px;
	line-height: 26px;
}

.datetimepicker .datetimepicker-hours table tr td span.hour_am,
.datetimepicker .datetimepicker-hours table tr td span.hour_pm {
	width: 14.6%;
}

.datetimepicker .datetimepicker-hours fieldset legend,
.datetimepicker .datetimepicker-minutes fieldset legend {
	margin-bottom: inherit;
	line-height: 30px;
}

.datetimepicker .datetimepicker-minutes span {
	height: 26px;
	line-height: 26px;
}

.datetimepicker table tr td span:hover {
	background: #eeeeee;
}

.datetimepicker table tr td span.disabled,
.datetimepicker table tr td span.disabled:hover {
	background: none;
	color: #999999;
	cursor: default;
}

.datetimepicker table tr td span.active,
.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active.disabled:hover {
	background-color: #006dcc;
	background-image: -moz-linear-gradient(top, #0088cc, #0044cc);
	background-image: -ms-linear-gradient(top, #0088cc, #0044cc);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));
	background-image: -webkit-linear-gradient(top, #0088cc, #0044cc);
	background-image: -o-linear-gradient(top, #0088cc, #0044cc);
	background-image: linear-gradient(to bottom, #0088cc, #0044cc);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0088cc', endColorstr='#0044cc', GradientType=0);
	border-color: #0044cc #0044cc #002a80;
	border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
	color: #ffffff;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.datetimepicker table tr td span.active:hover,
.datetimepicker table tr td span.active:hover:hover,
.datetimepicker table tr td span.active.disabled:hover,
.datetimepicker table tr td span.active.disabled:hover:hover,
.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active,
.datetimepicker table tr td span.active.disabled,
.datetimepicker table tr td span.active:hover.disabled,
.datetimepicker table tr td span.active.disabled.disabled,
.datetimepicker table tr td span.active.disabled:hover.disabled,
.datetimepicker table tr td span.active[disabled],
.datetimepicker table tr td span.active:hover[disabled],
.datetimepicker table tr td span.active.disabled[disabled],
.datetimepicker table tr td span.active.disabled:hover[disabled] {
	background-color: #0044cc;
}

.datetimepicker table tr td span.active:active,
.datetimepicker table tr td span.active:hover:active,
.datetimepicker table tr td span.active.disabled:active,
.datetimepicker table tr td span.active.disabled:hover:active,
.datetimepicker table tr td span.active.active,
.datetimepicker table tr td span.active:hover.active,
.datetimepicker table tr td span.active.disabled.active,
.datetimepicker table tr td span.active.disabled:hover.active {
	background-color: #003399;
}

.datetimepicker table tr td span.old {
	color: #999999;
}

.datetimepicker th.switch {
	width: 145px;
}

.datetimepicker th span.glyphicon {
	pointer-events: none;
}

.datetimepicker thead tr:first-child th,
.datetimepicker tfoot th {
	cursor: pointer;
}

.datetimepicker thead tr:first-child th:hover,
.datetimepicker tfoot th:hover {
	background: #eeeeee;
}

.input-append.date .add-on i,
.input-prepend.date .add-on i,
.input-group.date .input-group-addon span {
	cursor: pointer;
	width: 14px;
	height: 14px;
}

.export-form{
  margin: 10px;
}
