$white: #fff;
$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #bbb;
$red: #f00;
$white-gray: #e8e8e8;
$blue: #00f;
$black: black;
$solid-white: #ccc;
$dimgray: dimgray;
$info-color: #5bc0de;
$success-color: #5cb85c;
$solid-white-2: #DDD;
$solid-white-3: #ddd;
