$white: #fff;
$gray-medium-light: #eaeaea;
$gray-light: #777;
$gray: #bbb;
$red: #f00;
$white-gray: #e8e8e8;
$blue: #00f;
$black: black;
$solid-white: #ccc;
$dimgray: dimgray;
$info-color: #5bc0de;
$palegreen: palegreen;
$success-color: #5cb85c;
$solid-white-2: #DDD;
$solid-white-3: #ddd;
$gold: gold;
$light: #f1f1f1;
$box-shadow: rgba(0, 0, 0, 0.2);
$darkgreen: darkgreen;
$aqua: aqua;
$coral: coral;
$aquamarine: aquamarine;
$darkred: darkred;
$yellow: yellow;
$dark-white: #454545;
$alert-background: #dff0d8;
$alert-border: #d6e9c6;
$alert-notice: #3c763d;
$green: green;
$alert-alert-background: #f2dede;
$alert-alert-border: #ebccd1;
$alert-alert-color: #a94442;
$light-blue: #0099ff;
