@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color_main';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//flash
.alert-top{
  margin-top: 25%;
}

.alert{
  float: right;
  text-align: center;
  font-size: 18px;
  z-index:99;
}

//search_box
.has-search {
  width: 40%;
  display: inline-block;
  margin-top: 10px;
}

.form-control-feedback {
  right: initial;
  left: 0;
  color: $solid-white;
}

.has-search .form-control {
  border: 0px;
  padding-right: 12px;
  padding-left: 34px;
  background-color: transparent;
  color: $white;
}

//profile
.profile{
  text-align: center;
  display: inline-block;
  width: 23%;
  height: 100%;
}

.dropdown > p{
  padding-top: 20%;
}

//paginate
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: $white;
  border: 1px solid $solid-white-2;
  border-left-width: 0;
}

.paginate_row{
  text-align: center;
  margin: 0 2%;
}

.pagination {
  border-left: 1px solid $solid-white-3;
  color: $black;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

//book button
.button_book{
  padding: 0% 1%;
  width: 15%;
  display: inline-block;
}

.book_table{
  font-size: 20px;
  width: 100%;
}

.reservation_icon {
  height: 30px;
  width: 30px;
}

.button_book_text {
  color: $white;
}

//pay
.new_order_detail{
  display: inline-block;
  width: 85%;
}

.pay{
  height: 50px;
  width: 10%;
  display: inline-block;
}

.btn_pay{
  height: 100%;;
  width: 100%;
}

.paid{
  margin-top: 2%;
  height: 10%;
  width: 15%;
}

.paid_img{
  height: 100%;
  width: 100%;
}

.edit-order-detail-top-row{
  text-align: center;
  margin: 0% 9%;
  a{
    button{
      margin: 10px;
    }
  }
}

.total-amount{
  text-align: center;
  color: $black;
  margin: 0% 9%;
}

input[type=number]{
  text-align: center;
  border-radius: 5px;
}

.edit-oder-show-row{
  width: 50%;
  text-align: center;
}

.table-top-banner, .order-top-banner{
  margin-left: 330px;
  margin-top: 20px;
  color: $black;
}

.product-show-image{
  text-align: center;
  .product-image{
    width: 300px;
    height: 300px;
    margin: 20px auto;
    padding: 2px;
  }
}

.product-show-info{
  color: $black;
  margin-top: 20px;
  table{
    td[class=content]{
      width: 80%;
    }
  }
  div{
    float: right;
  }
  fieldset{
    border: 1px solid $palegreen;
    legend{
      width: 24%;
    }
    p{
      text-align: justify;
      text-indent: 20px;
    }
  }
}

.cate_name{
  display: inline-block;
}

.cates_num{
  width: 10%;
}

.cates_name{
  width: 60%;
}

.cates_btn{
  width: 30%;
}

.cate_img{
  width: 50px;
  height: 50px;
  display: inline-block;
}

.add_cate{
  margin: 2% 30%;
  text-align: center;
}

.add_cate_btn{
  color: $white;
}

.btn_edit{
  display: inline-block;
}

.btn_delete{
  display: inline-block;
}

.preview_img{
  height: 150px;
  width: 150px;
  margin-bottom: 1%;
  display: flex;
  background: url(not_found_img.jpg) no-repeat;
  background-size: cover;
}

.product_mini_img, .product_mini_name{
  display: inline-block;
}

.product_mini_img{
  width: 40px;
  height: 40px;
}

  //edit vendor nav
.nav_hover{
  width: 6%;
}

.navbar-header{
  width: 15%;
}

.search_nav{
  width: 40%;
}

.button_book{
  width: 15%;
}

.profile_ul{
  width: 100%;
  vertical-align: middle;
  height: 100%;
}

//user
#session_remember_me {
  width: 60%;
}

.login_signup{
  text-align: center;
  color: $black;
}

.login_btn{
  margin-top: 1px;
  height: 44px;
  font-size: 20px;
}

.li_login_path{
  text-align: left;
}

.link_to_login{
  width: fit-content;
  padding: 11px 5px !important;
}

.nav_dropdown{
  margin: 4% 0%;
  width: 100%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
  p {
    padding-top: 0%;
  }
}

.user_name_nav{
  width: 100%;
  height: 44px;
  padding-top: 1%;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
}

.user_icon{
  border-radius: 50%;
  height: 40px;
  width: 40px;
  display: inline-block;
}

.user_name{
  width: 70%;
  height: 90%;
  display: inline-block;
  vertical-align: sub;
  p{
    width: 100%;
    margin-bottom: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
  }
}

//show user
.show_user{
  margin: 0% 9%;
}

.show_user_header{
  text-align: center;
  margin-top: -6%;
}

.image_divider{
  border-color: $darkred;
  width: 50%;
}

.table_divider{
  border-color: $darkred;
}

.show_user_icon{
  width: 15%;
  border-radius: 50%;
}

.show_user_table{
  color: $black;
  width: 51%;
  margin: 0px auto;
  font-size: 18px;
  td {
    border-top: 0px !important;
    height: 20px;
  }

  .show_user_label{
    color: $darkred;
  }

  .td_btn_show_profile{
    text-align: center;
    .btn {
      width: 30%;
    }
  }
}
