@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color_main';

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//flash
.alert{
  float: right;
  text-align: center;
  font-size: 12px;
}

//form
form {
  border: 1px;
  margin: 50px 0px 50px 0px;
  color: $black;
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: $red;
  ul {
    color: $red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

//search_box
.has-search {
  width: 40%;
  display: inline-block;
  margin-top: 10px;
}

.form-control-feedback {
  right: initial;
  left: 0;
  color: $solid-white;
}

.has-search .form-control {
  border: 0px;
  padding-right: 12px;
  padding-left: 34px;
  background-color: transparent;
  color: $white;
}

//profile
.profile{
  padding-right: 10%;
  white-space: nowrap;
}

.dropdown > p{
  padding-top: 20%;
}

//table list
.list_table {
  margin: 0% 9% 0% 9%;
}

.table_btn_list{
  margin: 20px 5px 0px 5px;
  width: 32%;
  float: left;
  text-align: center;
}

.table_button{
  width: 180px;
  font-size: 25px;
}

.table-icon{
  height: 50%;
  width: 60%;
}

.btn-default{
  background-color: $dimgray;
}

.note_table{
  color: $black;
  text-align: right;
  margin-right: 17%;
  margin-top: 25px;
}

.note_table .note_available{
  background-color: $success-color;
}

.note_table .note_occupied{
  background-color: $info-color;
}

.note_table .note_disable{
  background-color: $dimgray;
}

.create_table_button{
  a{
    color: $white !important;
  }
  float: left;
  margin-left: 21%;
}

//paginate
.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: $white;
  border: 1px solid $solid-white-2;
  border-left-width: 0;
}

.paginate_row{
  text-align: center;
  margin: 0 2%;
}

.pagination {
  border-left: 1px solid $solid-white-3;
  color: $black;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

#my-modal{
  color: $black;
}

#modal-status{
  background-color: $success-color;
}

.modal-body{
  text-align: center;
}

//book button
.button_book{
  padding: 0% 1%;
  width: 15%;
  display: inline-block;
}

.book_table{
  font-size: 20px;
  width: 100%;
}

.reservation_icon {
  height: 30px;
  width: 30px;
}

.button_book_text {
  color: $white;
}

//create_book_form
.create_order{
  margin-top: 10px;
  background: url(book-frame.png) no-repeat;
  background-size: contain;
  background-position: center;
}

.create_order_form{
  padding: 2% 7%;
}

.create_order_form > form, .create_order_form > form > input, .create_order_form > form > .field_with_errors > input{
  text-align: center;
}

.new_order > #error_explanation > .alert {
  float: none;
}

//list order
.note_order{
  color: $black;
  text-align: center;
  margin: 0% 9%;
  margin-top: 25px;
}

.create_order_button{
  a{
    color: $white !important;
  }
}

.order_list{
  text-align: center;
}

.order_card_list{
  margin: 20px 2.5% 0px 2.5%;
  width: 20%;
  float: left;
  color: $black;
  hr {
    border-top: 1px solid $palegreen;
  }
  div {
    h3, h5 {
      font-family: "Times New Roman", Times, serif !important;
    }
    h5{
      color: $blue;
    }
  }
}

.order_name{
  height: 45px;
}

.card {
  box-shadow: 0 4px 8px 0 $box-shadow;
  padding: 16px;
  text-align: center;
  background-color: $light;
}

.order_name{
  vertical-align: middle;
}

.order_name > p {
  overflow: hidden;
}
.status-pending{
  background-color: $gold;
  line-height: 180%;
}

.status-accepted{
  background-color: $success-color;
  line-height: 180%;
}

.status-cancel{
  background-color: $red;
  line-height: 180%;
}

.status-paid{
  background-color: $gray-light;
  line-height: 180%;
}

.status-item{
  background-color: $coral;
}

.btn-order-edit{
  color: $white;
  &:hover{
    color: $gold;
  }
}

.edit-order-row-1, .edit-order-row-2, .edit-order-row-3, .edit-order-table-list{
  width: 80%;
  text-align: left;
  margin-left: 15%;
  margin-bottom: 15px;
  label{
    margin: 10px;
  }
  input{
    text-align: center;
  }
}

.edit-order-table-list{
  h1{
    font-family: sans-serif;
    font-size: 25px;
    text-align: center;
  }
}

//order_product table
.add_product{
  margin: 0% 9%;
}

#list-products{
  width: 60%;
  display: inline-block;
  color: $black;
}

.select2-dropdown{
  color: $black;
}

.add_product_btn{
  width: 10%;
  display: inline-block;
}

.list_order_product{
  margin: 1% 0%;
  width: 100%;

  table {
    counter-reset: rowNumber;
    width: 100%;
  }

  table th {
    color: $black;
    background-color: $gray;
    text-align: center;
  }

  table .trow {
    counter-increment: rowNumber;
  }

  table .trow td {
    color: $black;
    text-align: center;
    vertical-align: middle;
  }

  table .trow td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
  }

  table.table-bordered{
    border: 1px solid $gray-light;
    margin-top: 20px;
  }

  table.table-bordered > thead > tr > th{
      border: 1px solid $gray-light;
  }

  table.table-bordered > tbody > tr > td{
      border: 1px solid $gray-light;
  }
}

.detail_num{
  width: 5%;
}

.detail_name{
  width: 35%;
}

.detail_price{
  width: 15%;
}

.detail_count{
  width: 10%;
}

.detail_total{
  width: 20%;
}

.detail_btn{
  width: 15%;
}

.product_img{
  width: 50px;
  height: 50px;
  display: inline-block;
}

.product_name{
  width: 100px;
  display: inline-block;
}

.dataTables_wrapper{
  width: 82%;
  margin: 0% 9%;
  color: $black;
}

//pay
.new_order_detail{
  display: inline-block;
  width: 85%;
}

.pay{
  height: 50px;
  width: 10%;
  display: inline-block;
}

.btn_pay{
  height: 100%;;
  width: 100%;
}

.paid{
  margin-top: 2%;
  height: 10%;
  width: 15%;
}

.paid_img{
  height: 100%;
  width: 100%;
}
