<tr class="trow">
  <td></td>
  <td class="cate_name_content">
    <div class="cate_name_content">
      <%= image_tag category.image, alt: "", class: "cate_img" if category.image.attached? %>
      <p class="cate_name"><%= category.name %></p>
    </div>
  </td>
  <td>
    <%= link_to t("edit"), edit_category_path(category.id), class: "btn btn-primary btn_edit", method: :get %>
    <%= link_to t("delete"), category, class: "btn btn-danger btn_delete", method: :delete, data: { confirm: t("cate_confirm") } %>
  </td>
</tr>
