<div class="table_btn_list">
  <button class="<%= "btn table_button " + check_table_status(table) %>" data-id="<%= table.id %>">
    <%= table.table_number %><br>
    <%= image_tag Settings.icon_table, alt: "", class: "table-icon" %>
  </button>
</div>
